/*universal styling*/

html {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.4;
  margin: 1.5rem 0rem;
}

h1 {
  font-size: 2.8rem;
  margin: 0;
}

h2 {
  font-size: 2.8rem;
  margin: 2.1rem 0rem;
}

h3 {
  font-size: 2.1rem;
  margin: 1.57rem 0rem;
}

h4 {
  font-size: 1.4rem;
  margin: 0;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.0rem;
}

p {
  margin: 0rem 0rem 2.4rem 0rem;
  line-height: 150%;
}

ul,
ol {
  margin-left: 25px;
  margin-bottom: 15px;
  line-height: 150%;
}
/*clearfixes*/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
div {
  margin: 1.5rem 0rem;
}

div {
  margin: 0rem;
}

.clear {
  clear: both;
}

.page {
  max-width: 960px;
  margin: 0px auto;
}

.drop-effect .container {
  margin: 0 0 1% 0;
}

.reset-button {
  background: #eee;
  border: solid 1px #ccc;
  padding: 12px 15px;
  display: inline-block;
  cursor: pointer;
  margin-top: 25px;
}
/*universal*/

.drop-effect .drag-zone,
.drop-effect .drop-zone {
  width: 100%;
  background: #eee;
  border: solid 1px #ccc;
  padding: 5px 0 5px 5px;
}

.drop-effect .drag-item,
.drop-effect .drop-item {
  width: 10%;
  margin: 0% 0.8% 0.8% 0.6%;
  float: left;
  text-align: center;
  overflow: hidden;
}

.drop-effect .drag-item .drag,
.drop-effect .drop-item .drop {
  border: solid 1px #ccc;
  background: #DDD;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  border: solid 1px transparent;
  height: auto;
  width: 100%;
  display: inline-block;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
/*drag related styles*/

.drop-effect .drag-zone {}

.drop-effect .drag-zone .drag {}

.drop-effect .drag-zone .drag.drag-active {
  border: solid 1px #333;
  opacity: 0.7;
}
/*drop related styles*/

.drop-effect .drop-zone {}

.drop-effect .drop-zone .drop {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
}

.drop-effect .drop-zone .drop.drop-active {
  border: solid 1px #AAA;
}
.drop-effect .drop-zone .drop.correct {
  border: solid 1px #32ce74;
}
.drop-effect .drop-zone img{
  width: 100%;
  height: auto;
}

.ie-message {
  display: none;
  padding: 15px;
  background: #e74c3c;
  color: #fff;
  border: dashed 2px #c0392b;
  margin-bottom: 15px;
}

.p {
  padding-top: 100px;
}